<!-- The artists main page -->

<!-- ******** Information that everyone can see/ access ******** -->
<h1><%= @artist.name %></h1>

<%= image_tag @artist.cover_photo.url(:medium) %>
<br>
<strong>Name: </strong><%= @artist.name %>
<br>
<strong>Type: </strong><%= @artist.artist_type %>
<br>
<strong>Genre: </strong><%= @artist.genre %>
<br>
<strong>Bio: </strong><%= safe_join(@artist.bio.split("\r\n"), "<br />".html_safe)%>
<br>



<!-- ******** Give the Artist owner more controll of the artist page. ******** -->

<% if @current_artist && @current_artist.id == @artist.id %>
	<%= link_to "Edit Information", edit_artist_path(@artist), class: "btn btn-xs btn-primary" %>

<br>
<br>
<div>
	<%= link_to "Add a Song", new_audio_path, class: "btn btn-success" %>
</div>
<!-- ************* Displays the songs an Artist uploaded **************************** -->
<h1>Your Music</h1>
	<% if @current_artist.audios.count == 0 %>
		<em>You have not uploaded any songs yet</em>
	<% else %>
		<%= render file: "app/views/audios/_songs" %>
	<% end %>
<!-- ******************************************************************************** -->
<% end %>

<!-- !!!!!! currently does not display artists songs on their page for other users to see. -->
