<!--  The profile page for individual users. -->
<% if @user == @current_user %>
	<h1>Hello, <%= @user.full_name %></h1>

	<%= link_to 'Edit Information', edit_user_path(@user), class: 'btn btn-xs btn-primary' %>

<!-- Profile Picture -->
	<%= render :file => "app/views/profile_pictures/_icon" %>

	<% if @current_user.profile_pictures.count == 0 %>
		<%= link_to 'Add Profile Picture', new_profile_picture_path(), class: 'btn btn-xs btn-primary' %>
	<% end %>

<!-- Creating an artist page -->
<h4>This is your personal profile page. To begin uploading originial music you must first bacome an artist.</h4>


<%= link_to "Create New Artist", new_artist_path, class: 'btn btn-success' %>


<% else %>
	<%= render file: 'public/404', status: :not_found %> 
<% end %>