<% @current_user = User.find(session[:user_id]) if session[:user_id] %>

<%= link_to main_page_index_path do%>
	<div class="header">
		<h1>Melodic Island</h1>
	</div>
<% end %>

<div class="log_in_out">
	<% if @current_user%>
		<li>Welcome, <%= @current_user.full_name %></li>
		<li><%= link_to "Log Out", logout_path, method: :delete %></li>	
	<% else %>
		<li><%= link_to "Sign Up", register_path %></li>
		<li><%= link_to "Log In", login_path %></li>
	<% end %>
</div>

<div class="container">