<% @current_user = User.find(session[:user_id]) if session[:user_id] %>
<% @current_artist = Artist.find_by(user_id: @current_user) %>
<%= link_to main_page_index_path do%>
	<div class="header">
		<h1>Melodic Island</h1>
	</div>
<% end %>

<div class="log_in_out">

<!-- links that will be available to all users (with or with-out account) -->
		<li><%= link_to "Explore Artists", artists_path, class: 'btn btn-info' %></li>

	<% if @current_user%>
<!-- links that are only availabe to users who are signed in -->
		<li><%= link_to "Your Artist Page", artist_path(@current_artist.id), class: 'btn btn-primary' %></li>
		<li><%= link_to "Songs", audios_path, class: 'btn btn-warning' %></li>
		<li><%= render :file => "app/views/profile_pictures/_icon" %></li>
		<li><%= link_to @current_user.full_name, user_path(@current_user) %></li>
		<li><%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-primary' %></li>	
	<% else %>
<!-- links only available to users who are not signed in -->
		<li><%= link_to "Sign Up", register_path, class: 'btn btn-primary' %></li>
		<li><%= link_to "Log In", login_path, class: 'btn btn-primary' %></li>
	<% end %>

</div>

<div class="container">